<form action="/form-handling-page/" method="post">
  <ul>
    <li>
      <label for="picture">Width:</label>
      <input type="text" id="picture" name="picture">
    </li>
    <li>
      <button type="submit">add picture

      </button>
    </li>
  </ul>
</form>