<form id="form">
  <ul>
    <li>
      <label for="picture">Width:</label>
      <input type="text" id="picture" name="add_picture">
    </li>
    <li>
      <button type="submit">add picture
      </button>
    </li>
  </ul>
</form>