<form>
  <h4>type</h4>
  <ul>
    <li>
      <label for="input_field">value:</label>
      <input type="text" id="type" name="enter_type">
    </li>
    <li>
      <button type="submit">enter</button>
    </li>
  </ul>
</form>