---
layout: base.njk
templateEngineOverride: njk, md
---
<header>
  this is the header
</header>
<main>
  {# {% include '_decimals.md' %} #}
  {{ content | safe }}
</main>
<footer>
  this is the footer
</footer>