---
layout: page.njk
title: laying out a wall
---
<article>
  <h2 class="title">{{ title }}</h2>

  {% section "inputs", "enter info:" %}
  <div class="container">
    {% form "picture" %}
    {% form "wall" %}
    {% form "inset" %}
  </div>
  {% endsection %}
  {% section "outputs", "results:" %}
  <div class="container">
    <div id="layout" class="outputs-container">
      <h4>pictures</h4>
      <ul>
        <template id="picture-list" class="container outputs-display">
        </template>
      </ul>
    </div>
    <div id="totals" class="outputs-container">
      <h4>totals</h4>
      <div class="container">
        <div id="pictures" class="total-container">
          <h5>pictures</h5>
          <p>
            <span id="total-pictures" class="total-sum"></span>
          </p>
        </div>
        <div id="wall" class="total-container">
          <h5>wall</h5>
            <p>
              <span id="total-wall" class="total-sum"></span>
            </p>
        </div>
        <div id="inset" class="total-container">
          <h5>inset</h5>
            <p>
              <span id="total-inset" class="total-sum"></span>
            </p>
        </div>
      </div>
    </div>
    <div id="gaps" class="outputs-container">
      <h4>gaps</h4>
      <p>
        <template id="base-gap" class="container outputs-display">
        </template>
      </p>
      <button id="calculate" type="button">calculate</button>
    </div>
  </div>
  {% endsection %}
</article>