---
layout: page.njk
title: laying out a wall
---
<article>
  <h2 class="title">{{ title }}</h2>

  {% section "inputs", "enter info:" %}
  <div class="container">
    {% form "picture" %}
    {% form "wall" %}
    {% form "inset" %}
  </div>
  {% endsection %}
  {% section "outputs", "results:" %}
  <div id="layout">
    <h4>pictures</h4>
    <ul>
      <template id="picture-list" class="container">
      </template>
    </ul>
  </div>
  <div id="totals">
    <h4>totals</h4>
    <div class="container">
      <div id="pictures" class="total-container">
        <h5>pictures</h5>
        <p>
          <span id="total-pictures" class="total-sum"></span>
        </p>
      </div>
      <div id="wall" class="total-container">
        <h5>wall</h5>
          <p>
            <span id="total-wall" class="total-sum"></span>
          </p>
      </div>
      <div id="inset" class="total-container">
        <h5>inset</h5>
          <p>
            <span id="total-inset" class="total-sum"></span>
          </p>
      </div>
    </div>
  </div>
  {% endsection %}
  <button id="calculate" type="button">calculate</button>
  <p id="base-gap"></p>
</article>