@use '_utilities.scss' as u with (
  $widthOfGap: 16,
  $boxBase: 3
);

article {
  margin: 3rem 1rem;
}

section {
  margin-top: 1.5rem;
}

.container {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: #{u.$widthOfGap}px;
}

form[id*='-form'],
.total-container {
  margin-top: 1.5rem;
  flex: 0 1
    calc(
      #{u.nomBoxWidth(u.$boxBase)}% - #{u.adjBoxWidth(u.$boxBase, u.$widthOfGap)}px
    );
  .container {
    justify-content: center;
  }
  input[name*='enter_'] {
    max-width: 8ch;
  }
}

.total-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 1rem 0;
  }
}

#picture-list {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 4rem;
  overflow-x: scroll;
}

#picture-list li {
  flex: 1 1 auto;
  padding: 0.5rem;
}
